$color-white: #ffffff;
.mint-header {
    background-color: $color-white;
    color: #101010
    
    ;
    font-size: 18px;
}
.mint-cell-title, .mint-cell-value{
    font-size: 14px;
}
.mint-cell-title{
    font-weight: bold;
}
.mint-switch-input:checked + .mint-switch-core{
    border-color: #73B81F;
    background-color: #73B81F;
}

.mint-msgbox-message{
    font-size: 12px;
    color: #101010;
    text-align: left;
    line-height: 20px;
}
.mint-msgbox-confirm{
    color: #73B81F;
}